@{
    ViewData["Title"] = "Báo cáo đánh giá khách hàng";
    Layout = "_AdminLayout";
}

<h2>Thống kê đánh giá từ khách hàng</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Điểm đánh giá</th>
            <th>Số lượt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Data)
        {
            <tr>
                <td>@item.Rating ★</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>
